<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oliva, Poimienta y limón</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    {% include 'olivo/menu.html' %}

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid w-25 mb-5 d-block mx-auto" src="{% static 'img/mario.png' %}" alt="">
            <h1 class="text-uppercase mb-0">Contacto</h1>
            <hr class="star-light">
			<h2 class="font-weight-light mb-0">En esta vista irán los contactos de la empresa, su ubicación y puntos de venta </h2>

        </div>
    </header>



}

</body>
</html>
