<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oliva, Poimienta y limón</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    {% include 'olivo/menu.html' %}
	 <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid w-25 mb-5 d-block mx-auto" src="{% static 'img/mario.png' %}" alt="">
            <h1 class="text-uppercase mb-0">Grupo 4</h1>
            <hr class="star-light">
			

        </div>
    </header>
		<section id="modificar1">
		<div class="container">
		</h1>Modificar nombre</h1>
			<form method="POST" action="/modificar_nombres"> {% csrf_token %}
				<div class="form-group">
					<label for="exampleInputTextoa">Nombre del sandwichs </label>
					<input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre_sandwichs" required>
				</div>
				<div class="form-group">
					<label for="exampleInputTextoa">Nuevo nombre </label>
					<input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nuevo_nombre" required>
				</div>         
				<input type="submit">

			</form>
		</div>
		</section>
	
		<section id="modificar1">
		<div class="container">
		</h1>Modificar Precio</h1>
			<form method="POST" action="/modificar_precio"> {% csrf_token %}
				<div class="form-group">
					<label for="exampleInputTextoa">Nombre del sandwichs </label>
					<input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre_sandwichs" required>
				</div>
				<div class="form-group">
					<label for="exampleInputTextoa">Nuevo precio </label>
					<input type="number" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nuevo_precio" required>
				</div>         
				<input type="submit">

			</form>
		</div>
		</section>
		<section id="modificar1">
		<div class="container">
		</h1>Modificar descripcion</h1>
			<form method="POST" action="/modificar_descripcion"> {% csrf_token %}
				<div class="form-group">
					<label for="exampleInputTextoa">Nombre del sandwichs </label>
					<input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nombre_sandwichs" required>
				</div>
				<div class="form-group">
					<label for="exampleInputTextoa">Nuevo descripcion </label>
					<input type="text" class="form-control" id="exampleText" placeholder="Ingrese texto" name="nueva_descripcion" required>
				</div>         
				<input type="submit">

			</form>
		</div>
		</section>

</body>
</html>