<!DOCTYPE html>
<html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oliva, Poimienta y limón</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>
<body id="page-top">

			{% include 'olivo/menu.html' %}
			
			
			
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <h1 class="text-uppercase mb-0">Oliva, pimienta y limón </h1>
        </div>
    </header>

    <!-- Lista de Cursos Primavera -->
    <section id="lista_primavera">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Sandwiches</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
							<th scope="col">Precio de venta</th>
                            <th scope="col">Descripcion</th>

                           
                        </tr>
                    </thead>
                    <tbody>
                    {% for value in sandwiches %}
                        <tr>
                            <td>{{value.nombre}}</td>
							<td>{{value.precio}}</td>
                            <td>{{value.descripcion}}</td>

          
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
	
</body>
</html>